/* root means the variables contained here are visible accross all element on page */
:root {
  --footer-height: 60px;
  --logo-height: 8rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
  see:
    https://www.w3schools.com/cssref/sel_before.asp
    https://css-tricks.com/almanac/selectors/a/after-and-before/

  This is not explained well in the book, see css-tricks link for a better explanation.
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*
  - css selectors with a preceding . eg .something selects items with class set to 'something'
  - css selects without a preceding . eg body and code above applies the style to elements with
  that name.
*/

/* This button style makes a button look like a text item */
button {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: auto;
  background: none;
  appearance: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}
